@{
    ViewBag.Title = "Purring Turing - settings";
    PurringMachine.Models.PurringMachine machine = Session["Machine"] as PurringMachine.Models.PurringMachine;
    if (machine == null)
    {
        Session["Machine"] = machine = PurringMachine.Models.PurringMachine.GetDefaultMachine();
    }
}

<div class="row" style="height:5%;"></div>

<div class="row" style="height:5%;">
    <div class="col-md-2 col-xs-2"></div>
    <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; height:100%">
        Tape data:
    </div>
    <div class="col-md-2 col-xs-2"></div>
</div>
@{ 
    string tapeData = new string(machine.Tape.ToArray());
}
    <div class="row" style="height:10%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <input type="text" id="inputData" value="@tapeData" />
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:5%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            Instructions:
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    @{
        string fromLeft = "", fromRight = "";
        if (machine.StartFromLeft)
        {
            fromLeft = "checked";
        }
        else
        {
            fromRight = "checked";
        }
    }

    <div class="row" style="height:10%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-4 col-xs-4" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <div class="cnt">
                <ul>
                    <li>
                        <input type="radio" id="lRadio" name="radio-group" value="left" @fromLeft>
                        <label for="lRadio">Left</label>
                        <div class="check button">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-4" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <div class="cnt">
                <ul>
                    <li>
                        <input type="radio" id="rRadio" name="radio-group" value="right" @fromRight>
                        <label for="rRadio">Right</label>
                        <div class="check button">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:30%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; align-items:center; height:100%; overflow: auto">
            <table id="instructions-table" style="width:250px;">
                <tr>
                    <th></th>

                    @foreach (var state in machine.Instructions.GroupBy(i => i.state))
                    {
                        <td class="state">@state.Key</td>
                    }
                    @*<td class="state">q0</td>
                        <td class="state">q1</td>*@
                </tr>
                @foreach (var symbol in machine.Instructions.GroupBy(i => i.symbol))
                {
                    <tr>
                        <td class="alphabet">@symbol.Key</td>

                        @foreach (var instruction in symbol.Select(x => $"{x.symbolToWrite} {x.nextState} {x.movement}"))
                        {
                            <td>@instruction</td>
                        }

                    </tr>
                }
            </table>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:10%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-4 col-xs-4" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <a id="addRowButton" href="#0" class="button">
                <span>+ Row</span>
            </a>
        </div>
        <div class="col-md-4 col-xs-4" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <a id="addColButton" href="#0" class="button">
                <span>+ Col</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:10%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <a href="#0" class="button" data-toggle="modal" data-target="#myModal">
                <span>Help</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:10%;">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-8 col-xs-8" style="display: flex; flex-direction: column; justify-content: center; height:100%">
            <a href="#0" class="button" id="saveSettings">
                <span>Save</span>
            </a>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>

    <div class="row" style="height:5%;"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body" style="font-size: 15px; letter-spacing: normal; font-family: serif">
                <p>
                    <b>1. Allowed symbols | length:</b><br />
                    a) alphabet - a-z, A-Z, 0-9, # | 1<br />
                    b) state - a-z, A-Z, 0-9 | 1-4<br />
                    c) move - L, R, N | 1<br />
                </p>
                <p>
                    <b>2. Specials:</b><br />
                    a) # - empty symbol ∈ alphabet<br />
                    b) SK - neutral finish state ∈ states<br />
                    c) SA - positive finish state ∈ states<br />
                    d) SN - negative finish state ∈ states<br />
                </p>
                <p>
                    <b>3. Instruction table:</b><br />
                    a) First column - symbol on tape ∈ alphabet<br />
                    b) First row - states ∈ state<br />
                    c) Other cells - instructions for specified state and symbol on tape<br />
                </p>
                <p>
                    <b>4. Instructions:</b><br/>
                    Format: a qN m<br />
                    a - symbol to write on tape ∈ alphabet<br />
                    qN - next state for machine ∈ states<br />
                    m - movement to do ∈ move<br />
                    spaces - only one, single, white character, nothing more<br />
                </p>
            </div>
        </div>
    </div>
</div>